{% extends 'html/layouts/content-fluid.twig' %}
{% block content %}
    {% if theme.settings.slide_status %}
        <div id="entry-slider">
            {% include 'html/snippets/theme-slider.twig' %}
        </div>
    {% endif %}
{% endblock %}