<!DOCTYPE html>
<html lang="tr">
<head>
    {% block page_styles %}{% endblock %}
    <link rel="stylesheet" href="//st2.myideasoft.com/idea/mt/37/themes/selftpl_64fe3be37171f/renders/css/style-main.css">
</head>
<body class="current-page-{{ site.route.group }}-{{ site.route.name }}">
{% include 'html/snippets/header.twig' %}
<main>
    {% block breadcrumb %}{% endblock %}
    <section>
        {% block content %}{% endblock %}
    </section>
</main>
<footer>
    {% include 'html/snippets/footer.twig' %}
</footer>
{% include 'html/snippets/scripts.twig' %}
{% block page_scripts %}{% endblock %}
</body>
</html>