<div class="slider-home4 container-fluid clear-space relative">
    <div class="content-slider relative">
        <div class="img-slider img-zoom-container">
            <a href="#" class="inline-block relative">
                <img src="asset/img/slider_home4.jpg" class="img-responsive" id="myimage1" alt="">
                <div id="myresult1" class="img-zoom-result"></div>
            </a>

        </div>
        <div class="absolute text-slider">
            <h1 class="title-font title-slider delay2">Kombiniertes<br>oversize- shirt</h1>
            <p class="des-font des-slider delay1_5">BlackBird collection of minimal, sleek and<br>functional Carryalls were designedwith<br>creatives in mind.</p>
            <div class="flex delay03 social-home3">
                <a href="#" class="delay03 space_right_20"><i class="ti-facebook"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-twitter-alt"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-pinterest"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-linkedin"></i></a>
            </div>
        </div>
        <div class="absolute seasion">
            <p class="number-font delay2">Summner 2018</p>
        </div>
    </div>
    <!--  -->
    <div class="content-slider relative">
        <div class="img-slider img-zoom-container">
            <a href="#" class="inline-block relative">
                <img src="asset/img/slider_home4.jpg" class="img-responsive" id="myimage2" alt="">
                <div id="myresult2" class="img-zoom-result"></div>
            </a>
        </div>
        <div class="absolute text-slider">
            <h1 class="title-font title-slider delay2">Kombiniertes<br>oversize- shirt</h1>
            <p class="des-font des-slider delay1_5">BlackBird collection of minimal, sleek and<br>functional Carryalls were designedwith<br>creatives in mind.</p>
            <div class="flex delay03 social-home3">
                <a href="#" class="delay03 space_right_20"><i class="ti-facebook"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-twitter-alt"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-pinterest"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-linkedin"></i></a>
            </div>
        </div>
        <div class="absolute seasion">
            <p class="number-font delay2">Summner 2018</p>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="content-slider relative">
        <div class="img-slider img-zoom-container">
            <a href="#" class="inline-block relative">
                <img src="asset/img/slider_home4.jpg" class="img-responsive" id="myimage3" alt="">
                <div id="myresult3" class="img-zoom-result"></div>
            </a>
        </div>
        <div class="absolute text-slider">
            <h1 class="title-font title-slider delay2">Kombiniertes<br>oversize- shirt</h1>
            <p class="des-font des-slider delay1_5">BlackBird collection of minimal, sleek and<br>functional Carryalls were designedwith<br>creatives in mind.</p>
            <div class="flex delay03 social-home3">
                <a href="#" class="delay03 space_right_20"><i class="ti-facebook"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-twitter-alt"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-pinterest"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-linkedin"></i></a>
            </div>
        </div>
        <div class="absolute seasion">
            <p class="number-font delay2">Summner 2018</p>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="content-slider relative">
        <div class="img-slider img-zoom-container">
            <a href="#" class="inline-block relative">
                <img src="asset/img/slider_home4.jpg" class="img-responsive" id="myimage4" alt="">
                <div id="myresult4" class="img-zoom-result"></div>
            </a>
        </div>
        <div class="absolute text-slider">
            <h1 class="title-font title-slider delay2">Kombiniertes<br>oversize- shirt</h1>
            <p class="des-font des-slider delay1_5">BlackBird collection of minimal, sleek and<br>functional Carryalls were designedwith<br>creatives in mind.</p>
            <div class="flex delay03 social-home3">
                <a href="#" class="delay03 space_right_20"><i class="ti-facebook"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-twitter-alt"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-pinterest"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-linkedin"></i></a>
            </div>
        </div>
        <div class="absolute seasion">
            <p class="number-font delay2">Summner 2018</p>
        </div>
    </div>
    <!--  -->
    <!--  -->
    <div class="content-slider relative">
        <div class="img-slider img-zoom-container">
            <a href="#" class="inline-block relative">
                <img src="asset/img/slider_home4.jpg" class="img-responsive" id="myimage5" alt="">
                <div id="myresult5" class="img-zoom-result"></div>
            </a>
        </div>
        <div class="absolute text-slider">
            <h1 class="title-font title-slider delay2">Kombiniertes<br>oversize- shirt</h1>
            <p class="des-font des-slider delay1_5">BlackBird collection of minimal, sleek and<br>functional Carryalls were designedwith<br>creatives in mind.</p>
            <div class="flex delay03 social-home3">
                <a href="#" class="delay03 space_right_20"><i class="ti-facebook"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-twitter-alt"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-pinterest"></i></a>
                <a href="#" class="delay03 container_20"><i class="ti-linkedin"></i></a>
            </div>
        </div>
        <div class="absolute seasion">
            <p class="number-font delay2">Summner 2018</p>
        </div>
    </div>
    <!--  -->
</div>